<!doctype html>
<html ⚡ lang="en">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Intercom</title>
    <link rel="canonical" href="http://example.ampproject.org/article-metadata.html" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "IoT Intercom",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        html,body{background: #F5F5F5;font-family: sans-serif;}
        .intercom-item{
            border-radius: 4px;
            width: 90%;
            margin: 20px 5%  20px 5%;
            box-sizing: border-box;
            padding: 5px 7px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
            background: #fff;
            font-family: sans-serif;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
        .intercom-item:first-child{
            margin-top: 80px;
        }
        .intercom-flex-item{
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
        }
        .intercom-item-action{
            width: 30%;
            background: #E64A19;
            text-align: center;
            height: 80px;
            border-radius: 4px;
        }
        .intercom-item-action a{
            text-decoration: none;
            color: #fff;
            vertical-align: middle;
            line-height: 80px;
            display: inline-block;
            text-transform: uppercase;
        }
        .intercom-item-title{
            color: #616161;
            font-size: 22px;
            line-height: 1.8;
        }
        .intercom-head{
            position: fixed;
            top:0;
            left: 0;
            width: 100%;
            height: 60px;
            background: #BF360C;
            color: #fff;
            z-index: 100;
            font-size: 28px;
            box-sizing: border-box;
            padding: 14px 5%;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        }
    </style>
</head>
<body>
<div class="intercom-head">
    Домофон
</div>
<amp-list
        width=auto
        layout=fill
        src="https://iot-intercom.firebaseio.com/house/10k1/2.json?print=pretty">
        <template type="amp-mustache" id="participant-card">
            <div class=intercom-item>
                <div class="intercom-item-title intercom-flex-item"> Квартира {{id}} <br>
                    {{title}}</div>
                <div class="intercom-flex-item intercom-item-action">
                    <a href="call.html#{{callto}}">Вызов</a>
                </div>
            </div>
        </template>
</amp-list>
</body>
</html>